html, body{
   background:#000 url(city.jpg);
   font-family:'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
   font-size:16px;
   height:100%;
   width:100%;
   margin:0;
   padding:0;
}

* {
   box-sizing:border-box;
}

.wrapper
{
   background:rgba(0,0,0,.7);
   display:flex;
   flex-direction:column;
   justify-content:center;
   height:100%;
   width:100%;
}

h1, form {
   max-width:600px;
   width:100%;
   margin:0 auto;
}

h1 {
   color:#fff;
   text-align:center;
   margin-top:-50px;
   font-weight:400;
   text-transform:uppercase;
   text-shadow:0 5px 10px rgba(0,0,0,.8);
}

.labelup {
   display:inline-block;
   font-size:1.2rem;
   text-align:left;
   position:relative;
   padding-top:1.8rem;
   width:100%;
}

.labelup input {
   background:rgba(255,255,255,.7);
   border:1px solid #fff;
   font-size:1.2rem;
   padding:.8rem;
   width:100%;
}

.labelup label {
   cursor:text;
   left:0;
   overflow:hidden;
   text-overflow:ellipsis;
   position:absolute;
   width:100%;
   /* style et position par défaut */
   color:#fff;
   bottom:calc(100% - 1.8rem);
   padding:.2rem 0;
   transition:all .2s linear;
}

/* style et position du label si le placeholder est visible
(pas de texte dans l'input) */
input:placeholder-shown + label {
   color:#333;
   bottom:0;
   padding:.8rem;
}

/*
   Il ne nous reste plus qu'à faire en sorte que lorsqu'on donne le focus
   à l'input le label se positionne au dessus de l'input
*/
.labelup:focus-within label {
   /* au focus d'un noeud enfant, on réinjecte le style et position par défaut */
   color:#fff;
   bottom:calc(100% - 1.8rem);
   padding:.2rem 0;
}